.about{
    .wrapper__about{
        @include flclm;
        gap: 40px;
        .about__container{
            @include flrow;

            @include media-tablet {
                @include flclm;
            }
            @include media-mobile {
                @include flclm;
            }

            gap: 40px;
            .first_block{
                @include flclm;
                align-items: center;
                gap: 40px;
                .about__conteinerForImg{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    overflow: hidden;
                    &:hover{
                        img{
                            transform: scale(0.9);
                            background-size: cover;
                        }
                    }
                    border-radius: 20px;
                    img{
                        display: block;
                        transition: 1s;
                        width: 726px;
                        height: 726px;
                        border-radius: 40px;

                    }
                }
                .about__conteinerForImg:first-child{
                    border-radius: 20px;
                    max-width: 660px;
                    max-height: 590px;


                }
                .about__conteinerForImg:nth-child(2){
                    border-radius: 20px;
                    max-width: 660px;
                    max-height: 430px;
                    @include media-tablet {
                        display: none;
                    }
                    @include media-mobile {
                        display: none;
                    }
                }
            }

            .second_block{
                @include flclm;
                align-items: center;
                gap: 40px;

                .about__conteinerForImg{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    overflow: hidden;
                    &:hover{
                        img{
                            transform: scale(0.9);
                            background-size: cover;
                        }
                    }
                    border-radius: 20px;
                    img{
                        display: block;
                        transition: 1s;
                        width: 726px;
                        height: 726px;
                        border-radius: 40px;

                    }
                }
                .about__conteinerForImg:first-child{
                    border-radius: 20px;
                    max-width: 660px;
                    max-height: 430px;
                    @include media-tablet {
                        display: none;
                    }
                    @include media-mobile {
                        display: none;
                    }



                }
                .about__conteinerForImg:nth-child(2){
                    border-radius: 20px;
                    max-width: 660px;
                    max-height: 590px;
                }

            }

        }
    }
}