.about{
    .wrapper__about{
        @include flclm;
        gap: 40px;
        .about__container{
            @include flrow;
            gap: 40px;

            .first_block{
                @include flclm;
                gap: 40px;
                img{
                    border-radius: 20px;
                    width: 726px;
                    height: 726px;
                    transition: 1s;
                    &:hover{
                        transform: scale((0.9));
                        background-size: cover;
                    }
                }

            }
            .second_block{
                @include flclm;
                gap: 40px;
                img{
                    border-radius: 20px;
                    &:hover{
                        transform: scale((0.9));
                        background-size: cover;
                    }
                }

            }

        }
    }
}