.enjoy{
    .wrapper__enjoy{
        position: relative;
        @include media-tablet{

            background-image: url(../assets/png/img-hero.png);
            background-position: center;
            background-size: cover;
            height: 644px;
            border-radius: 40px;
        }
        @include media-mobile {
            background-image: url(../assets/png/img-hero.png);
            background-position: center;
            background-size: cover;
            height: 552px;
            border-radius: 40px;
        }
        .enjoy__bg{
            display: none;
            max-width: 1360px;
            border-radius: 40px;
            @include media-tablet {
                display: none;


            }
            @include media-mobile{
                display: none;


            }
        }
        .enjoy-video {
            width: 1360px;
            border-radius: 40px;

            @include media-tablet{
                display: none;
            }
            @include media-mobile{
                display: none;
            }
        }
        .container{
            position: absolute;
            z-index: 1;
            top: 0;
            padding: 100px;
            @include media-tablet{
                padding: 100px 60px;
            }
            @include media-mobile {
                padding: 60px 16px;
            }


            .enjoy__content{
                max-width: 530px;
                @include flclm;
                gap: 40px;


                .enjoy-title{
                    color: $color-text-light;
                    font-weight: 600;
                    line-height: 105%;
                    margin: 0;

                }
                .enjoy-text{
                    color: $color-text-light;
                    margin: 0;
                    @include media-mobile{
                        line-height: 150%;
                        letter-spacing: 0.5px ;
                    }
                }

            }
        }
    }
}

