.header{
    padding: 20px 0;
    .wrapper__header{
        @include flrow;
        justify-content: space-between;
        align-items: center;




        .logo{
            cursor: pointer;
            @include flclm;
            align-items: center;
            width: 100px;
            height: 60px;
            position: relative;
            .logo__title{
                background-image: url(../assets/svg/Resource.svg);
                width: 92.514px;
                height: 22.342px;
                flex-shrink: 0;
                position: absolute;
                top: 12.56px;
                z-index: 1;
            }
            .logo__around{
                width: 38px;
                height: 38px;
                border-radius: 100%;
                background: $color-font-accent;
                position: absolute;
                top: 6px;
            }
            .logo__name{
                background-image: url(../assets/svg/Coffee\ House.svg);
                width: 64.784px;
                height: 5.986px;
                flex-shrink: 0;
                position: absolute;
                top: 48.1px;
            }
        }
            .navigation{
                @include flrow;
                align-items: center;
                width: calc(100% - 506px);
                justify-content: space-between;
                .nav-list{
                    @include flrow;
                    gap: 40px;
                    padding-left: 0;
                    .list{
                        list-style: none;
                        position: relative;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: flex-end;



                        .list__link{
                            display: block;
                            text-decoration: none;
                            @include textPrimary;
                            color: $color-font-primary;
                            font-weight: 600;
                            line-height: 150%;



                        }
                        &::after{  /*interactive border bottom from navigation links*/
                            width: 0;
                            transition: all 0.5s linear;
                            content: '';
                            position: absolute;
                            height: 2px;background: $color-font-primary;

                        }

                        &:hover::after{
                            width: 100%;

                        }


                    }


                }
                @include media-tablet {
                    &{
                        display: flex;
                        padding: 60px 40px;
                        width: 100vw;
                        position: absolute;
                        top: 100px;
                        left:0;
                        height: 1024px;
                        justify-content: flex-start;
                        z-index: 3;
                        background: #E1D4C9;
                        gap: 100px;
                        flex-direction: column;
                        align-items: center;
                        transition: all 1s ease-out;
                        transform: translateX(100%);
                        .nav-list{
                            @include flclm;
                            gap: 60px;
                            margin: 0;
                            .list{
                                .list__link{
                                    font-size: $fontSizeBurgerMenu;
                                    line-height: 125%;
                                }
                            }
                        }
                        .menu-link{
                            .header__menu{
                                height: max-content;
                                align-items: center;
                                width: auto;
                                .menu__text{
                                    font-size: $fontSizeBurgerMenu;

                                }
                            }
                        }
                    }

                }
                @include media-mobile {
                    &{
                        display: flex;
                        padding: 60px 40px;
                        width: 100vw;
                        position: absolute;
                        top: 100px;
                        left:0;
                        height: 1024px;
                        justify-content: flex-start;
                        z-index: 3;
                        background: #E1D4C9;
                        gap: 100px;
                        flex-direction: column;
                        align-items: center;
                        transition: all 1s ease-out;
                        transform: translateX(100%);

                        .nav-list{
                            @include flclm;
                            gap: 60px;
                            margin: 0;
                            .list{
                                .list__link{
                                    font-size: $fontSizeBurgerMenu;
                                    line-height: 125%;
                                }
                            }
                        }
                        .menu-link{
                            .header__menu{
                                height: max-content;
                                align-items: center;
                                width: auto;
                                .menu__text{
                                    font-size: $fontSizeBurgerMenu;

                                }

                            }
                        }
                    }

                }
            }


        .menu-link {   /* interactive menu-btn navigation */
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-end;
            &::after{
                width: 0;
                transition: all 0.5s linear;
                content: '';
                position: absolute;
                height: 2px;
                background: $color-font-primary;

            }

            &:hover::after{
                width: 100%;

            }
        }

        .openBurgerMenu{
            transform: translateX(0);

        }

    }
}