html{
    scroll-behavior: smooth;
}

body{
    display: flex;
    align-items: center;
    max-width: 1440px;
    margin: 0 auto;
    @include flclm;
    background: $color-bg_body;
    @include media-tablet {
        max-width: 768px;
        overflow-x: hidden;
    }
    @include media-mobile {
        max-width: 380px;
        overflow-x: hidden;
    }

}
main{
    @include flclm;
    gap: 100px;
}
footer{
    margin-top: 100px;
    margin-bottom: 40px;
}
*{
    box-sizing: border-box;
}
.wrapper{
    width: 1360px;
    margin: 0 auto;
    @include media-tablet {
        width: 688px;
    }
    @include media-mobile {
        width: 348px;
    }
}
button{
    cursor: pointer;
}
a{
    cursor: pointer;
    text-decoration: none;
}
