/* inter-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: url('/coffe-house/assets/fonts/inter-v13-latin/inter-v13-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
  /* inter-600 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    src: url('/coffe-house/assets/fonts/inter-v13-latin/inter-v13-latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
h1{
  @include textTitle;
  color: $color-font-primary;
  margin: 0;
  .italic-words{
    font-size: $fontTitle-size;
  }
}
h2{
  @include textSubtitle;
  color: $color-font-primary;
  margin: 0;

}
p{
  @include textPrimary;
  color: $color-font-primary;
  margin: 0;
}
span{
  @include textPrimary
}
h4{
  @include textAnotheSub;
  color: $color-font-primary;
  margin: 0;
}
.italic-words{
  @include textSubtitle;
  font-style: italic;
  color: $color-font-accent;
}
.subtitle{
  font-weight: 600;
  line-height: 125%;

}