.header__menu{
    @include flrow;
    @include btn-menuItem;
    justify-content: space-between;
    text-decoration: none;
    background: transparent;
    border: none;
    padding: 0;

    .menu__text{
        @include textPrimary;
        font-weight: 600;
        line-height: 150%;
        color: $color-font-primary;
    }
    .menu__icon{
        background-size: cover;
        width: 20px;
        height: 20px;
    }

}
.header__menu-activePage{         //*FOR MENU PAGE WHEN ACTIVE
    position: relative;
    &::after{
        content: "";
        position: absolute;
        height: 2px;
        background: #403F3D;
        width: inherit;
        bottom: 4px;
    }
}
.enjoy-btn{
    @include flrow;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    @include btn-primary;
    background: $color-bg_body;
    border: none;
    transition: all 5.5s linear;

    .menu__text{
        @include textPrimary;
        font-weight: 600;
        line-height: 150%;
        color: $color-font-primary;
        margin-right: 0;
        transition: margin-right 0.3s linear;

    }
    .menu__icon{
        visibility: hidden;
        opacity: 0;
        // background-image: url(../assets/svg/coffee-cup.svg);
        background-size: cover;
        width: 20px;
        height: 20px;
        transition: visibility 0.2s, opacity 0.5s linear;
        position: absolute;
        top: 20px;
        right: 60px;




    }
    &:hover{
        .menu__icon{
            visibility: inherit;
            opacity: 1;
        }
        .menu__text{
            margin-right: 8px;

        }
    }
}
.btn-slider{
    @include btn-icon;
    border: 1px solid $color-bg-footer;
    background: $color-bg_body;

}
.btn-slider:hover{
    background: $color-bg-footer;
}
.btn-store{
    @include btn-primary;
    @include flrow;
    align-items: center;
    justify-content: start;
    gap: 8px;
    background: transparent;
    border: 1px solid $color-bg-footer;
    padding-left: 20px;
    transition: all 0.5s linear;


}
.apple__store:hover{  /*store btn interactive*/
    background-color: $color-bg-footer;
    #apl-store {
        background-image: url(../assets/svg/icon-apl-hover.svg);
        width: 36px;
        height: 36px;
    }
    .text-btn {
        color: $color-bg_body;
    }
}
.google__store:hover{
    background-color: $color-bg-footer;
    #goog-store {
        background-image: url(../assets/svg/icon-ggl-hover.svg);
        width: 36px;
        height: 36px;
    }
    .text-btn {
        color: $color-bg_body;
    }
}




.tab-item{
    width: 115px;
    height: 46px;
    border-radius: 100px;
    @include flrow;
    align-items: center;
    gap: 8px;
    border: 1px solid $color-border-light;
    background: transparent;
    .icon-block{
        width: 30px;
        height: 30px;
        border-radius: 100px;
        background: $color-border-light;
        padding: 0 7px;
        display: flex;
        align-items: center;

    }
    .name-icon{
        font-weight: 600px;
        line-height: 150%;
    }
    &:hover{
        background: #665F55;
    }
    &:nth-child(2){
        width: 90px;
        height: 46px;
    }


}
.btn_coffee{
    background: $color-bg-footer;
    .name-icon{
        color: $color-text-light;
    }
}
.social-btn{
    @include btn-icon;
    border: 1px solid $color-border-light;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &:hover{
        background: $color-bg_body;
    }
}
