.menu-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    .wrapper__menu{
        @include flclm;
        align-items: center;
        .menu__subtitle{
            max-width: 800px;
            text-align: center;
            @include media-tablet {
                max-width: 100%;
            }
        }
        gap: 40px;
        .menu-btn__container{
            @include flrow;
            justify-content: center;
            gap: 16px;
        }
        .menu__catalog{
            display: grid;
            grid-template-columns: repeat(4, 310px);
            grid-template-rows: repeat(2,506px);
            row-gap: 40px;
            column-gap: 40px;
            @include media-tablet {
                grid-template-columns: repeat(2, 310px);
                grid-template-rows: repeat(2, 506px);
                overflow: hidden;
                max-height: 1052px;
            }
            @include media-mobile {
                grid-template-columns: repeat(1,310px);
                max-height: 2144px;
            }
            .menu__card{
                border: 1px solid $color-border-light;
                border-radius: 40px;

                @include flclm;
                justify-content: space-between;

                .card__block{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    overflow: hidden;
                    width: 310px;
                    height: 310px;
                    border-radius: 40px;

                    img{
                        display: block;
                        transition: 1s;
                        width: 340px;
                        height: 340px;
                        border-radius: 40px;

                    }
                }
                .menu-description{
                    margin: 20px;
                    .card__subtitle{
                        line-height: 125%;
                    }
                    .card__text{
                        margin-top: 12px;
                        margin-bottom: 36px;
                        font-weight: 400;
                        line-height: 150%;

                    }
                    .card__price{
                        font-weight: 600;
                        line-height: 125%;
                    }
                }
            }
            .menu__card:hover{
                cursor: pointer;
                img{
                    transform: scale(0.9);


                    background-size: cover;


                }
            }
        }
    }

}