//* text

@mixin textPrimary {
    font-family: $fontFamily-primary,sans-serif;
    font-size: $fontPrim-size;
    font-style: normal;
}
@mixin textTitle {
    font-family: $fontFamily-primary,sans-serif;
    font-size: $fontTitle-size;
    font-weight: 600;
}

@mixin textSubtitle {
    font-family: $fontFamily-primary,sans-serif;
    font-size: $fontSubtitle-size;
    font-style: normal;
    font-weight: 600;

}
@mixin textAnotheSub {
    font-family: $fontFamily-primary, sans-serif;
    font-size: $fontAnotheSubTitle;
    font-style: normal;
    font-weight: 600;
}
//* flex
@mixin flrow{
    display: flex;
    flex-direction: row;
}
@mixin flclm{
    display: flex;
    flex-direction: column;
}
//* buttons
@mixin btn-menuItem{
    width: 72px;
    height: 28px;
}
@mixin btn-tabItem{
    width: 91px;
    height: 30px;
    border-radius: 100px ;
}
@mixin btn-primary {
    width: 200px;
    height: 64px;
    border-radius: 100px;
}
@mixin btn-second {
    width: 200px;
    height: 44px;
    border-radius: 100px;

}
@mixin btn-icon{
    width: 60px;
    height: 60px;
    border-radius: 100px;
}
@mixin btn-icon_burg {
    width: 44px;
    height: 44px;
    border-radius: 100px;
}
@mixin cont-link {
    width: 464px;
    height: 68px;
    border-radius: 8px ;
}