//! color

$color-bg_body: #E1D4C9;
$color-bg-footer: #665F55;
$color-font-primary: #403F3D;
$color-font-accent:#B0907A;

$color-text-light:#E1D4C9;


$color-border-light: #C1B6AD;
$color-border-dark: #665F55;



//!  font
$fontFamily-primary: Inter;
$fontPrim-size: 16px;
$fontTitle-size: 72px;
$fontSubtitle-size:60px;
$fontAnotheSubTitle: 24px;

//* media font-size
$mobile-fontTitle-size: 42px;
$mobile-fontSubtitle-size: 32px;



//! media-query width;
$tablet-width : 768px;
$mobile-width : 380px;


